{% csrf_token %}
<table id="postForm">
<tbody>
<tr>
	<td>Name</td>
	<td>
		<input name="name" type="text" value="">
		<input type="submit" value="Submit">
	</td>
</tr>
<tr>
	<td>Comment</td>
	<td>
		<textarea name="comment" cols="48" rows="4" wrap="soft"></textarea>
	</td>
</tr>
<tr>
	<td>Image</td>
	<td>
		<input name="image" type="file">
	</td>
</tr>
</tbody>
</table>