body { margin: 0; padding: 0; color: #000000;
font-family: arial,helvetica,sans-serif;
font-size: 10pt; }
.post {}
 .post img { float: left; margin-right: 10px; }
 .post .data { float: left; }
 .post .reply { display: table; padding: 2px; background-color: #c3c3c3; margin: 4px; }
 .post blockquote { display: block; max-width: 600px; }
#postForm { margin: 0px auto; }
#postForm tr td:first-child { background-color: #c3c3c3; border: 1px solid black; padding: 0 2px; font-weight: bold; }