{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
</head>
<body>
{%block content%}{%endblock%}
</body>
</html>