{%extends 'base.html'%}
{% load thumbnail %}
{% block content %}
{%include 'common/top_menu.html'%}
<form method="POST" action="{%url 'board' board.slug%}" enctype="multipart/form-data">
<input type="hidden" name="board_id" value="{{board.id}}">
<input type="hidden" name="parent_id" value="0">
{%include 'common/post.html'%}
</form>
<hr />
<h1>{{board.name}}</h1>
<hr />
{%for post in posts%}
<div class="post">
	{%if post.image%}
	<a href="{{post.image.url}}">{%thumbnail post.image "300x200" crop="center" as im%}<img src='{{im.url}}'>{%endthumbnail%}</a>
	{%endif%}
	<div class="data"><strong>{{post}}</strong> on {{post.datetime_create}} [<a href="{%url 'post' board.slug post.id%}">Reply</a>]</div>
	<br />
	<div class="comment">{{post.comment|linebreaksbr}}</div>
	<br clear="all" />
</div>
<hr />
{%endfor%}
{%endblock%}