{%extends 'base.html'%}
{% load thumbnail %}
{%block content%}
{%include 'common/top_menu.html'%}
<form method="POST" action="{%url 'post' board.slug post.id%}" enctype="multipart/form-data">
<input type="hidden" name="board_id" value="{{board.id}}">
<input type="hidden" name="parent_id" value="{{post.id}}">
{%include 'common/post.html'%}
</form>
<hr />
<h1>{{board.name}}</h1>
<hr />
<div class="post">
	{%if post.image%}
	<a href="{{post.image.url}}">{%thumbnail post.image "300x200" crop="center" as im%}<img src='{{im.url}}'>{%endthumbnail%}</a>
	{%endif%}
	<div class="data">{{post}} on {{post.datetime_create}}</div>
	<br />
	<div class="comment"><blockquote>{{post.comment|linebreaksbr}}</blockquote></div>
	{%for reply in post.replies.all%}
		<div class="replyContainer">
			<div class="reply">
				{%if reply.image%}
				<a href="{{reply.image.url}}">{%thumbnail reply.image "120" crop="center" as im%}<img src='{{im.url}}'>{%endthumbnail%}</a>
				{%endif%}
				<div class="data"><strong>{{reply}}</strong> on {{reply.datetime_create}}</div>
				<br />
				<div class="comment"><blockquote>{{reply.comment|linebreaksbr}}</blockquote></div>
			</div>
		</div>
	{%endfor%}
</div>
{%endblock%}